<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI FILTER -->

	<bean id="EndpointFilter" class="xdi2.server.EndpointFilter">
		<property name="endpointServlet" ref="EndpointServlet" />
	</bean>

	<!-- XDI SERVLET -->

	<bean id="EndpointServlet" class="xdi2.server.EndpointServlet" init-method="init" destroy-method="destroy">
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugEndpointServletInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET FACTORY at /any/* -->

	<bean name="/any/*" class="xdi2.server.factory.impl.AnyGraphMessagingTargetFactory">
		<property name="graphFactory">
			<bean class="xdi2.core.impl.memory.MemoryGraphFactory" />
		</property>
	</bean>

	<!-- MESSAGING TARGET FACTORY at /users/* -->

	<bean id="registrygraphfactory" class="xdi2.core.impl.file.FileGraphFactory">
		<property name="path" value="registry.xdi" />
		<property name="mimeType" value="text/xdi;contexts=0;ordered=1" />
	</bean>

	<bean id="registrygraph" factory-bean="registrygraphfactory" factory-method="openGraph" />

	<bean name="/users/*" class="xdi2.server.factory.impl.RegistryGraphMessagingTargetFactory">
		<property name="graphFactory">
			<bean class="xdi2.core.impl.memory.MemoryGraphFactory" />
		</property>
		<property name="registryGraph" ref="registrygraph" />
	</bean>

	<!-- MESSAGING TARGET at /registry -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a FileGraph -->

	<bean name="/registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="registrygraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="@!9999" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>@myorg</value>
						</util:list>
					</property>
					<property name="bootstrapSharedSecret" value="s3cret" />
					<property name="bootstrapLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ExpandDollarIsInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.CheckOwnerInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.LinkContractsInterceptor">
					<property name="linkContractsGraph" ref="registrygraph" />
				</bean>
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /mem-graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean name="/mem-graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ExpandDollarIsInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /bdb-graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a BDBGraph -->

	<bean id="graphfactory2" class="xdi2.core.impl.keyvalue.bdb.BDBGraphFactory">
	</bean>

	<bean id="graph2" factory-bean="graphfactory2" factory-method="openGraph" />

	<bean name="/bdb-graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph2" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ExpandDollarIsInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /file-graph -->
	<!-- MessagingTarget: FileMessagingTarget backed by an XDI/JSON file -->

	<bean name="/file-graph" class="xdi2.messaging.target.impl.file.FileMessagingTarget">
		<property name="filename" value="./xdi2-file/graph.xdi" />
		<property name="format" value="XDI/JSON" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ExpandDollarIsInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /=markus -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory4" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph4" factory-bean="graphfactory4" factory-method="openGraph" />

	<bean name="/=markus" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph4" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="=!91F2.8153.F600.AE24" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>=markus</value>
						</util:list>
					</property>
					<property name="bootstrapSharedSecret" value="s3cret" />
					<property name="bootstrapLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ExpandDollarIsInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.CheckOwnerInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.LinkContractsInterceptor">
					<property name="linkContractsGraph" ref="graph4" />
				</bean>
			</util:list>
		</property>
	</bean>

</beans>
