<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>xdi2-webtools</display-name>

	<!-- XDI WEBTOOLS -->

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description></description>
		<display-name>XDIValidator</display-name>
		<servlet-name>XDIValidator</servlet-name>
		<servlet-class>xdi2.webtools.validator.XDIValidator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XDIValidator</servlet-name>
		<url-pattern>/XDIValidator</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>XDIConverter</display-name>
		<servlet-name>XDIConverter</servlet-name>
		<servlet-class>xdi2.webtools.converter.XDIConverter</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XDIConverter</servlet-name>
		<url-pattern>/XDIConverter</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>XDIMessenger</display-name>
		<servlet-name>XDIMessenger</servlet-name>
		<servlet-class>xdi2.webtools.messenger.XDIMessenger</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XDIMessenger</servlet-name>
		<url-pattern>/XDIMessenger</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>XDILocalMessenger</display-name>
		<servlet-name>XDILocalMessenger</servlet-name>
		<servlet-class>xdi2.webtools.localmessenger.XDILocalMessenger</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XDILocalMessenger</servlet-name>
		<url-pattern>/XDILocalMessenger</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>XDIGrapher</display-name>
		<servlet-name>XDIGrapher</servlet-name>
		<servlet-class>xdi2.webtools.grapher.XDIGrapher</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XDIGrapher</servlet-name>
		<url-pattern>/XDIGrapher</url-pattern>
	</servlet-mapping>

	<servlet>
		<description></description>
		<display-name>XDIGrapherImage</display-name>
		<servlet-name>XDIGrapherImage</servlet-name>
		<servlet-class>xdi2.webtools.grapher.XDIGrapherImage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XDIGrapherImage</servlet-name>
		<url-pattern>/XDIGrapherImage</url-pattern>
	</servlet-mapping>

	<!-- XDI FILTER -->

	<filter>
		<filter-name>EndpointFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EndpointFilter</filter-name>
		<servlet-name>EndpointServlet</servlet-name>
	</filter-mapping>

	<!-- XDI SERVLET -->

	<servlet>
		<servlet-name>EndpointServlet</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>EndpointServlet</servlet-name>
		<url-pattern>/xdi/*</url-pattern>
		<url-pattern>/xdi/</url-pattern>
	</servlet-mapping>

	<!-- SPRING -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>
