<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI ENDPOINT REGISTRY AND TRANSPORT -->

	<bean id="UriMessagingTargetRegistry" class="xdi2.transport.registry.impl.uri.UriMessagingTargetRegistry" init-method="init" destroy-method="shutdown" />

	<bean id="HttpTransport" class="xdi2.transport.impl.http.HttpTransport" init-method="init" destroy-method="shutdown">
		<property name="uriMessagingTargetRegistry" ref="UriMessagingTargetRegistry" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.transport.impl.http.interceptor.impl.DebugHttpTransportInterceptor" />
				<bean class="xdi2.transport.impl.http.interceptor.impl.StatusHttpTransportInterceptor" />
			</util:list>
		</property>
	</bean>

	<bean id="WebSocketTransport" class="xdi2.transport.impl.websocket.WebSocketTransport" init-method="init" destroy-method="shutdown">
		<property name="uriMessagingTargetRegistry" ref="UriMessagingTargetRegistry" />
		<property name="endpointPath" value="/xdi/" />
	</bean>

	<!-- SPRING -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="xdi2.transport.spring.XDI2SpringConverter" />
			</list>
		</property>
	</bean>

	<!-- MESSAGING TARGET TO BE USED AS A PROTOTYPE FOR MESSAGING TARGET FACTORIES -->

	<bean id="prototypeGraphFactory" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="prototypeGraph" factory-bean="prototypeGraphFactory" factory-method="openGraph" />

	<bean id="prototypeMessagingTarget" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="prototypeGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapTimestamp" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.GraphSecretTokenAuthenticator">
							<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
							<property name="secretTokenGraph" ref="registryGraph" />
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
					<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
				</bean>
				<bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET FACTORY at /any/* -->

	<bean name="/any/*" class="xdi2.messaging.target.factory.impl.uri.AnyUriMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="prototypeMessagingTarget" />
	</bean>

	<!-- MESSAGING TARGET FACTORY at /users/* -->

	<bean id="registryGraphfactory" class="xdi2.core.impl.wrapped.file.FileWrapperGraphFactory">
		<property name="path" value="registry.xdi" />
		<property name="mimeType" value="text/xdi;ordered=1" />
	</bean>

	<bean id="registryGraph" factory-bean="registryGraphfactory" factory-method="openGraph" />

	<bean name="/users/*" class="xdi2.messaging.target.factory.impl.uri.RegistryUriMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="prototypeMessagingTarget" />
		<property name="registryGraph" ref="registryGraph" />
		<property name="defaultDisabled" value="false" />
		<property name="disabledError" value="This graph is temporarily disabled" />
	</bean>

	<!-- REGISTRY MESSAGING TARGET -->

	<bean name="/registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="registryGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="+!:uuid:9999" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>+testcsp</value>
						</util:list>
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapTimestamp" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.StaticSecretTokenAuthenticator">
							<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
							<property name="localSaltAndDigestSecretTokens">
								<util:map>
									<entry key="+!:uuid:9999" value="xdi2-digest:00000000-0000-0000-0000-000000000000:a7292f2347aef29a9e4c05d35764019106143a339b6e9bb39faee53103e1d6f55e49213d77d16a326a91bab0fc6885779d04e2e4470125720860cf54f872b3bb" />
								</util:map>
							</property>
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
					<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
				</bean>
				<bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /mem-graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean name="/mem-graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.WriteListenerInterceptor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
					<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
				</bean>
				<bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /=alice -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory4" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph4" factory-bean="graphfactory4" factory-method="openGraph">
		<constructor-arg><value>(=!:uuid:1111)</value></constructor-arg>
	</bean>

	<bean name="/=alice" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph4" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="=!:uuid:1111" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>=alice</value>
						</util:list>
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
					<property name="bootstrapTimestamp" value="true" />
					<property name="bootstrapGraph">
						<value>
							({$self}/$public)$do/$get/{$self}$msg$encrypt$keypair&lt;$public&gt;&lt;$key&gt;
							({$self}/$public)($do/$get){$self}$msg$encrypt$keypair/$is#/{}
							({$self}/$public)$do/$get/{$self}$msg$sig$keypair&lt;$public&gt;&lt;$key&gt;
							({$self}/$public)($do/$get){$self}$msg$sig$keypair/$is#/{}
						</value>
					</property>
					<property name="bootstrapMessageEnvelope">
						<value>
							($anon[$msg]*!1$do/$do$keypair){$self}$msg$encrypt$keypair/$is#/$rsa$2048
							($anon[$msg]*!1$do/$do$keypair){$self}$msg$sig$keypair/$is#/$rsa$2048
						</value>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.StaticSecretTokenAuthenticator">
							<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
							<property name="localSaltAndDigestSecretTokens">
								<util:map>
									<entry key="=!:uuid:1111" value="xdi2-digest:ec136367-5969-4e69-9c8a-483e330c317f:8a447e411ad21477b67b8793e5be16749416b996c61a40476c17231be4d9390a8e703b87cf8750b66fb541f208799d3b564ee6ed33cae8f9f84ce39c1527e62e" />
								</util:map>
							</property>
						</bean>
					</property>
				</bean>
<!--				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" /> -->
			</util:list>
		</property>
		<property name="contributors">
			<util:list>
				<bean class="xdi2.messaging.target.contributor.impl.digest.GenerateDigestSecretTokenContributor">
					<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
				</bean>
				<bean class="xdi2.messaging.target.contributor.impl.keygen.GenerateKeyContributor" />
				<bean class="xdi2.messaging.target.contributor.impl.connection.ConnectionRequestContributor" />
				<bean class="xdi2.messaging.target.contributor.impl.connection.InverseOperationContributor">
					<property name="xdiDiscoveryClient" value="https://xdidiscoveryservice.xdi.net/" />
				</bean>
			</util:list>
		</property>
	</bean>

</beans>
