/target
/xdi2-bdb
/test.statements.out
/test.json.out
/test.0.out
/test.1.out
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-0.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-1.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-10.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-11.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-12.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-13.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-14.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-15.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-16.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-17.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-18.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-19.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-2.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-20.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-21.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-22.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-23.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-3.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-4-0.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-4-1.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-5-0.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-5-1.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-8.xdi
/xdi2-test-graph.xdi2.tests.core.graph.FileGraphTest-graph-9.xdi
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-0.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-1.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-10.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-11.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-12.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-13.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-14.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-15.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-16.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-17.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-18.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-19.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-2.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-20.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-21.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-22.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-23.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-3.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-4-0.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-4-1.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-5-0.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-5-1.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-8.properties
/xdi2-test-graph.xdi2.tests.core.graph.PropertiesGraphTest-graph-9.properties
/xdi2-test-graph.xdi2.tests.core.impl.keyvalue.PropertiesKeyValueTest-keyvalue-1.properties
/xdi2-test-graph.xdi2.tests.core.impl.keyvalue.PropertiesKeyValueTest-keyvalue-2.properties
/xdi2-test-graph.xdi2.tests.core.impl.keyvalue.PropertiesKeyValueTest-keyvalue-3.properties
/xdi2-test-graph.xdi2.tests.core.impl.keyvalue.PropertiesKeyValueTest-keyvalue-4.properties
/xdi2-test-graph.xdi2.tests.core.impl.keyvalue.PropertiesKeyValueTest-keyvalue-5.properties
/xdi2-test-graph.xdi2.tests.core.impl.keyvalue.PropertiesKeyValueTest-keyvalue-6.properties
