<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI SERVLET -->

	<bean id="EndpointServlet" class="xdi2.server.EndpointServlet" init-method="init" destroy-method="destroy">
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugEndpointServletInterceptor" />
				<bean class="xdi2.server.interceptor.impl.XriResolutionEndpointServletInterceptor">
					<property name="resolvePath" value="/resolve" />
					<property name="targetPath" value="/users" />
					<property name="registryGraph" ref="registrygraph" />
				</bean>
			</util:list>
		</property>
	</bean>

	<!-- SPRING -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="xdi2.server.spring.StringXDI3StatementConverter" />
				<bean class="xdi2.server.spring.StringXDI3SegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3SubSegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3XRefConverter" />
			</list>
		</property>
	</bean>

	<!-- MESSAGING TARGET TO BE USED AS A PROTOTYPE FOR MESSAGING TARGET FACTORIES -->

	<bean id="prototypeGraphFactory" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="prototypeGraph" factory-bean="prototypeGraphFactory" factory-method="openGraph" />

	<bean id="prototypeMessagingTarget" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="prototypeGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.LinkContractInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET FACTORY at /any/* -->

	<bean name="/any/*" class="xdi2.server.factory.impl.AnyGraphMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="prototypeMessagingTarget" />
	</bean>

	<!-- MESSAGING TARGET FACTORY at /users/* -->

	<bean id="registrygraphfactory" class="xdi2.core.impl.wrapped.file.FileGraphFactory">
		<property name="path" value="registry.xdi" />
		<property name="mimeType" value="text/xdi;contexts=0;ordered=1" />
	</bean>

	<bean id="registrygraph" factory-bean="registrygraphfactory" factory-method="openGraph" />

	<bean name="/users/*" class="xdi2.server.factory.impl.RegistryGraphMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="prototypeMessagingTarget" />
		<property name="registryGraph" ref="registrygraph" />
	</bean>

	<!-- MESSAGING TARGET at /registry -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a FileGraph -->

	<bean name="/registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="registrygraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="=!BDF3.1FB.E70C.3958" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>=danube</value>
						</util:list>
					</property>
					<property name="bootstrapSharedSecret" value="s3cret" />
					<property name="bootstrapLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.LinkContractInterceptor">
					<property name="linkContractsGraph" ref="registrygraph" />
				</bean>
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /mem-graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean name="/mem-graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /bdb-graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a BDBGraph -->

	<bean id="graphfactory2" class="xdi2.core.impl.keyvalue.bdb.BDBGraphFactory">
	</bean>

	<bean id="graph2" factory-bean="graphfactory2" factory-method="openGraph" />

	<bean name="/bdb-graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph2" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /file-graph -->
	<!-- MessagingTarget: FileMessagingTarget backed by an XDI/JSON file -->

	<bean name="/file-graph" class="xdi2.messaging.target.impl.file.FileMessagingTarget">
		<property name="path" value="./xdi2-file/graph.xdi" />
		<property name="mimeType" value="application/xdi+json;contexts=0;ordered=1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /=markus -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory4" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph4" factory-bean="graphfactory4" factory-method="openGraph" />

	<bean name="/=markus" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph4" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="=!91F2.8153.F600.AE24" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>=markus</value>
						</util:list>
					</property>
					<property name="bootstrapSharedSecret" value="s3cret" />
					<property name="bootstrapLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.LinkContractInterceptor">
					<property name="linkContractsGraph" ref="graph4" />
				</bean>
			</util:list>
		</property>
	</bean>

</beans>
