<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<!-- XDI ENDPOINT REGISTRY AND TRANSPORT -->

	<bean id="HttpEndpointRegistry" class="xdi2.server.registry.HttpEndpointRegistry" init-method="init" destroy-method="shutdown" />

	<bean id="HttpTransport" class="xdi2.server.transport.HttpTransport" init-method="init" destroy-method="shutdown">
		<property name="httpEndpointRegistry" ref="HttpEndpointRegistry" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.server.interceptor.impl.DebugHttpTransportInterceptor" />
				<bean class="xdi2.server.interceptor.impl.XriResolutionHttpTransportInterceptor">
					<property name="resolvePath" value="/resolve" />
					<property name="targetPath" value="/users" />
					<property name="registryGraph" ref="registrygraph" />
				</bean>
			</util:list>
		</property>
	</bean>

	<!-- SPRING -->

	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<list>
				<bean class="xdi2.server.spring.StringXDI3StatementConverter" />
				<bean class="xdi2.server.spring.StringXDI3SegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3SubSegmentConverter" />
				<bean class="xdi2.server.spring.StringXDI3XRefConverter" />
			</list>
		</property>
	</bean>

	<!-- MESSAGING TARGET TO BE USED AS A PROTOTYPE FOR MESSAGING TARGET FACTORIES -->

	<bean id="facebookContributor" class="xdi2.connector.facebook.contributor.FacebookContributor">
		<property name="facebookApi">
			<bean class="xdi2.connector.facebook.api.FacebookApi" init-method="init" destroy-method="destroy">
				<property name="appId" value="420250631345354" />
				<property name="appSecret" value="c2feeda99926ab3c6096beaa8e6eca73" />
			</bean>
		</property>
		<property name="facebookMapping">
			<bean class="xdi2.connector.facebook.mapping.FacebookMapping" />
		</property>
	</bean>

	<bean id="personalContributor" class="xdi2.connector.personal.contributor.PersonalContributor">
		<property name="personalApi">
			<bean class="xdi2.connector.personal.api.PersonalApi" init-method="init" destroy-method="destroy">
				<property name="appId" value="2hmsfwb28jkmtuetxzk82x7r" />
				<property name="appSecret" value="CyhuffsrBqdTfzTAsdMB9D6v" />
				<property name="scope" value="read_0000,read_0001" />
				<property name="update" value="true" />
			</bean>
		</property>
		<property name="personalMapping">
			<bean class="xdi2.connector.personal.mapping.PersonalMapping" />
		</property>
	</bean>

	<bean id="allfiledContributor" class="xdi2.connector.allfiled.contributor.AllfiledContributor">
		<property name="allfiledApi">
			<bean class="xdi2.connector.allfiled.api.AllfiledApi" init-method="init" destroy-method="destroy">
				<property name="appId" value="1372" />
				<property name="appSecret" value="cRiet3ezo5cieniaqlubRi6MIedri15oUziupriek9a24oAstl" />
			</bean>
		</property>
		<property name="allfiledMapping">
			<bean class="xdi2.connector.allfiled.mapping.AllfiledMapping" />
		</property>
	</bean>

	<bean id="prototypeGraphFactory" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="prototypeGraph" factory-bean="prototypeGraphFactory" factory-method="openGraph" />

	<bean id="prototypeMessagingTarget" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="prototypeGraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.GraphSecretTokenAuthenticator">
							<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
							<property name="secretTokenGraph" ref="registrygraph" />
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor" />
				<ref bean="facebookContributor" />
				<ref bean="personalContributor" />
				<ref bean="allfiledContributor" />
			</util:list>
		</property>
		<property name="contributors">
			<util:map>
				<entry key="+(https://facebook.com/)" value-ref="facebookContributor" />
				<entry key="+(https://personal.com/)" value-ref="personalContributor" />
				<entry key="+(https://allfiled.com/)" value-ref="allfiledContributor" />
			</util:map>
		</property>
	</bean>

	<!-- MESSAGING TARGET FACTORY at /any/* -->

	<bean name="/any/*" class="xdi2.server.factory.impl.AnyGraphMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="prototypeMessagingTarget" />
	</bean>

	<!-- MESSAGING TARGET FACTORY at /users/* -->

	<bean id="registrygraphfactory" class="xdi2.core.impl.wrapped.file.FileGraphFactory">
		<property name="path" value="registry.xdi" />
		<property name="mimeType" value="text/xdi;ordered=1" />
	</bean>

	<bean id="registrygraph" factory-bean="registrygraphfactory" factory-method="openGraph" />

	<bean name="/users/*" class="xdi2.server.factory.impl.RegistryGraphMessagingTargetFactory">
		<property name="prototypeMessagingTarget" ref="prototypeMessagingTarget" />
		<property name="registryGraph" ref="registrygraph" />
	</bean>

	<!-- REGISTRY MESSAGING TARGET -->

	<bean name="/registry" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="registrygraph" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="[=]!BDF3.1FB.E70C.3958" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>=danube</value>
						</util:list>
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.AuthenticationSecretTokenInterceptor">
					<property name="secretTokenAuthenticator">
						<bean class="xdi2.messaging.target.interceptor.impl.authentication.secrettoken.StaticSecretTokenAuthenticator">
							<property name="globalSalt" value="00000000-0000-0000-0000-000000000000" />
							<property name="localSaltAndDigestSecretTokens">
								<util:map>
									<entry key="[=]!BDF3.1FB.E70C.3958" value="xdi2-digest:00000000-0000-0000-0000-000000000000:8ae57d7c635e3f14b072850ac9cc88cdf8873661548a0c943eb4840a6fe426766fd4a087019f24467ba96990e5ff55e63111f1eb416981b4cf897cb2f45f57ac" />
								</util:map>
							</property>
						</bean>
					</property>
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor">
					<property name="linkContractsGraph" ref="registrygraph" />
				</bean>
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /mem-graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory1" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph1" factory-bean="graphfactory1" factory-method="openGraph" />

	<bean name="/mem-graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /bdb-graph -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a BDBGraph -->

	<bean id="graphfactory2" class="xdi2.core.impl.keyvalue.bdb.BDBGraphFactory">
	</bean>

	<bean id="graph2" factory-bean="graphfactory2" factory-method="openGraph" />

	<bean name="/bdb-graph" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph2" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /file-graph -->
	<!-- MessagingTarget: FileMessagingTarget backed by an XDI/JSON file -->

	<bean name="/file-graph" class="xdi2.messaging.target.impl.file.FileMessagingTarget">
		<property name="path" value="./xdi2-file/graph.xdi" />
		<property name="mimeType" value="application/xdi+json;implied=1;ordered=1" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
			</util:list>
		</property>
	</bean>

	<!-- MESSAGING TARGET at /=markus -->
	<!-- MessagingTarget: GraphMessagingTarget backed by a MemoryGraph -->

	<bean id="graphfactory4" class="xdi2.core.impl.memory.MemoryGraphFactory">
	</bean>

	<bean id="graph4" factory-bean="graphfactory4" factory-method="openGraph" />

	<bean name="/=markus" class="xdi2.messaging.target.impl.graph.GraphMessagingTarget">
		<property name="graph" ref="graph4" />
		<property name="interceptors">
			<util:list>
				<bean class="xdi2.messaging.target.interceptor.impl.BootstrapInterceptor">
					<property name="bootstrapOwner" value="[=]!91F2.8153.F600.AE24" />
					<property name="bootstrapOwnerSynonyms">
						<util:list>
							<value>=markus</value>
						</util:list>
					</property>
					<property name="bootstrapRootLinkContract" value="true" />
					<property name="bootstrapPublicLinkContract" value="true" />
				</bean>
				<bean class="xdi2.messaging.target.interceptor.impl.VariablesInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.RefInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.ToInterceptor" />
				<bean class="xdi2.messaging.target.interceptor.impl.linkcontract.LinkContractInterceptor">
					<property name="linkContractsGraph" ref="graph4" />
				</bean>
			</util:list>
		</property>
	</bean>

</beans>
